# Importando as biblitecas

In [49]:
import pandas as pd
import re
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split
from pycaret.classification import *
from pycaret.time_series import *
from pycaret.internal.pycaret_experiment import TimeSeriesExperiment

# Lendo o arquivo de mortalidade

In [50]:
Mortalidade_2019 = pd.read_csv(r'C:\Projeto Final\Mortalidade_Geral_2019.csv', sep = ';')
Mortalidade_2018 = pd.read_csv(r'C:\Projeto Final\Mortalidade_Geral_2018.csv', sep = ';')
Mortalidade_2017 = pd.read_csv(r'C:\Projeto Final\Mortalidade_Geral_2017.csv', sep = ';')
Mortalidade_2016 = pd.read_csv(r'C:\Projeto Final\Mortalidade_Geral_2016.csv', sep = ';')

# Estudando a tabela

In [51]:
Mortalidade_2019.head()

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,SERIESCFAL,OCUP,CODMUNRES,LOCOCOR,CODESTAB,ESTABDESCR,CODMUNOCOR,IDADEMAE,ESCMAE,ESCMAE2010,SERIESCMAE,OCUPMAE,QTDFILVIVO,QTDFILMORT,GRAVIDEZ,SEMAGESTAC,GESTACAO,PARTO,OBITOPARTO,PESO,TPMORTEOCO,OBITOGRAV,OBITOPUERP,ASSISTMED,EXAME,CIRURGIA,NECROPSIA,LINHAA,LINHAB,LINHAC,LINHAD,LINHAII,CAUSABAS,CB_PRE,COMUNSVOIM,DTATESTADO,CIRCOBITO,ACIDTRAB,FONTE,NUMEROLOTE,TPPOS,DTINVESTIG,CAUSABAS_O,DTCADASTRO,ATESTANTE,STCODIFICA,CODIFICADO,VERSAOSIST,VERSAOSCB,FONTEINV,DTRECEBIM,ATESTADO,DTRECORIGA,CAUSAMAT,ESCMAEAGR1,ESCFALAGR1,STDOEPIDEM,STDONOVA,DIFDATA,NUDIASOBCO,NUDIASOBIN,DTCADINV,TPOBITOCOR,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,21012019,540.0,829.0,290750.0,18021961.0,457,1,2.0,1.0,2.0,1.0,NaN,512105.0,290750,1,2388685.0,NaN,290750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,*R570,*J81X,*I10X,*N189,NaN,I120,NaN,NaN,21012019.0,NaN,NaN,NaN,20190009.0,NaN,NaN,I120,12022019.0,2.0,S,S,3.2.00,3.2,NaN,13022019.0,R570/J81/I10/N189,13022019,NaN,NaN,10.0,0.0,1,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,1,2,28012019,1630.0,829.0,290070.0,3071938.0,480,2,NaN,1.0,1.0,0.0,NaN,999992.0,290750,1,2388685.0,NaN,290750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*A419,NaN,NaN,NaN,NaN,A419,NaN,NaN,28012019.0,NaN,NaN,NaN,20190009.0,NaN,NaN,A419,12022019.0,NaN,S,S,3.2.00,3.2,NaN,13022019.0,A419,13022019,NaN,NaN,0.0,0.0,1,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,1,2,27012019,2320.0,829.0,290750.0,15111945.0,473,2,4.0,2.0,3.0,1.0,4.0,999992.0,290750,1,2388685.0,NaN,290750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*I500,*I10X,*E039,NaN,NaN,E039,NaN,NaN,27012019.0,NaN,NaN,NaN,20190009.0,NaN,NaN,E039,12022019.0,5.0,S,S,3.2.00,3.2,NaN,13022019.0,I500/I10/E039,13022019,NaN,NaN,2.0,0.0,1,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
3,1,2,12012019,2300.0,829.0,290750.0,4111971.0,447,1,4.0,2.0,4.0,3.0,3.0,NaN,290750,1,2388685.0,NaN,290750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,*J960,*R220,NaN,NaN,NaN,R220,NaN,NaN,12012019.0,NaN,NaN,NaN,20190009.0,NaN,NaN,R220,12022019.0,5.0,S,S,3.2.00,3.2,NaN,13022019.0,J960/R220,13022019,NaN,NaN,6.0,0.0,1,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
4,1,2,10012019,1726.0,829.0,292520.0,12101946.0,472,2,4.0,1.0,1.0,0.0,NaN,999992.0,290750,1,2388685.0,NaN,290750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*J960,*C159,NaN,NaN,NaN,C159,NaN,NaN,10012019.0,NaN,NaN,NaN,20190009.0,NaN,NaN,C159,12022019.0,5.0,S,S,3.2.00,3.2,NaN,13022019.0,J960/C159,13022019,NaN,NaN,0.0,0.0,1,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6

In [52]:
Mortalidade_2019.shape

(1349801, 87)

In [53]:
Mortalidade_2018.head()

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,SERIESCFAL,OCUP,CODMUNRES,LOCOCOR,CODESTAB,ESTABDESCR,CODMUNOCOR,IDADEMAE,ESCMAE,ESCMAE2010,SERIESCMAE,OCUPMAE,QTDFILVIVO,QTDFILMORT,GRAVIDEZ,SEMAGESTAC,GESTACAO,PARTO,OBITOPARTO,PESO,TPMORTEOCO,OBITOGRAV,OBITOPUERP,ASSISTMED,EXAME,CIRURGIA,NECROPSIA,LINHAA,LINHAB,LINHAC,LINHAD,LINHAII,CAUSABAS,CB_PRE,COMUNSVOIM,DTATESTADO,CIRCOBITO,ACIDTRAB,FONTE,NUMEROLOTE,TPPOS,DTINVESTIG,CAUSABAS_O,DTCADASTRO,ATESTANTE,STCODIFICA,CODIFICADO,VERSAOSIST,VERSAOSCB,FONTEINV,DTRECEBIM,ATESTADO,DTRECORIGA,CAUSAMAT,ESCMAEAGR1,ESCFALAGR1,STDOEPIDEM,STDONOVA,DIFDATA,NUDIASOBCO,NUDIASOBIN,DTCADINV,TPOBITOCOR,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,25042018,315.0,16.0,NaN,3111965.0,452,1,1.0,2.0,5.0,5.0,NaN,214120.0,120000,2,2281147.0,NaN,330010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,2.0,*R99X,NaN,NaN,NaN,NaN,R99,NaN,NaN,25042018.0,NaN,NaN,NaN,20190070.0,N,NaN,R99,25052018.0,5.0,S,S,3.2.02,3.2,NaN,27062019.0,R99,29052018,NaN,NaN,8.0,0.0,1,428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
1,1,2,24052018,NaN,812.0,120032.0,20052018.0,204,2,5.0,NaN,NaN,NaN,NaN,NaN,120032,5,NaN,NaN,120032,16.0,3.0,2.0,6.0,999994.0,NaN,NaN,1.0,NaN,NaN,1.0,3.0,3500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*P291,*P285,*P239,*P002,NaN,P002,NaN,NaN,24082018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21052019.0,NaN,N,N,2...0,NaN,NaN,NaN,P291/P285/P239/P002,21052019,NaN,3.0,NaN,0.0,1,362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2120
2,1,2,14022018,1400.0,812.0,120030.0,2061925.0,492,1,5.0,NaN,1.0,0.0,NaN,NaN,120030,3,NaN,NaN,120030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,*I219,*I517,NaN,NaN,NaN,I219,NaN,NaN,16022018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22022018.0,2.0,N,N,2...0,NaN,NaN,NaN,I219/I517,22022018,NaN,NaN,0.0,0.0,1,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2121
3,1,2,31072018,1600.0,812.0,120030.0,25081928.0,489,2,5.0,NaN,1.0,0.0,NaN,NaN,120030,3,NaN,NaN,120030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,*J960,*J159,NaN,NaN,*I500,J159,NaN,NaN,1082018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9042019.0,1.0,N,N,2...0,NaN,NaN,NaN,J960/J159*I500,9042019,NaN,NaN,0.0,0.0,1,252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2122
4,1,2,21092018,1718.0,812.0,120010.0,4071941.0,477,1,4.0,5.0,3.0,1.0,4.0,999993.0,120005,3,NaN,NaN,120005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*C711,NaN,NaN,NaN,NaN,C711,NaN,NaN,21092018.0,NaN,NaN,NaN,20180010.0,NaN,NaN,C711,26092018.0,5.0,S,S,3.2.00,3.2,NaN,28092018.0,C711,28092018,NaN,NaN,2.0,0.0,1,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2691

In [54]:
Mortalidade_2018.shape

(1316719, 87)

In [55]:
Mortalidade_2017.head()

,CONTADOR,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,SERIESCFAL,OCUP,CODMUNRES,LOCOCOR,CODESTAB,ESTABDESCR,CODMUNOCOR,IDADEMAE,ESCMAE,ESCMAE2010,SERIESCMAE,OCUPMAE,QTDFILVIVO,QTDFILMORT,GRAVIDEZ,SEMAGESTAC,GESTACAO,PARTO,OBITOPARTO,PESO,TPMORTEOCO,OBITOGRAV,OBITOPUERP,ASSISTMED,EXAME,CIRURGIA,NECROPSIA,LINHAA,LINHAB,LINHAC,LINHAD,LINHAII,CAUSABAS,CB_PRE,COMUNSVOIM,DTATESTADO,CIRCOBITO,ACIDTRAB,FONTE,NUMEROLOTE,TPPOS,DTINVESTIG,CAUSABAS_O,DTCADASTRO,ATESTANTE,STCODIFICA,CODIFICADO,VERSAOSIST,VERSAOSCB,FONTEINV,DTRECEBIM,ATESTADO,DTRECORIGA,CAUSAMAT,ESCMAEAGR1,ESCFALAGR1,STDOEPIDEM,STDONOVA,DIFDATA,NUDIASOBCO,NUDIASOBIN,DTCADINV,TPOBITOCOR,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
0,1,1,2,5092017,700.0,812.0,120039.0,3031997.0,420,1,5.0,NaN,3.0,2.0,6.0,NaN,120039,5,NaN,NaN,120039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,*R58X,NaN,NaN,NaN,NaN,R58,NaN,NaN,6092017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22022018.0,5.0,N,N,2...0,NaN,NaN,NaN,R58,22022018,NaN,NaN,3.0,0.0,1,170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2,11022017,1330.0,812.0,120040.0,9022017.0,202,1,4.0,NaN,NaN,NaN,NaN,NaN,120040,1,2000733.0,NaN,120040,36.0,4.0,3.0,NaN,999992.0,2.0,0.0,1.0,24.0,2.0,2.0,3.0,660.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*P285,*P220,*P000,NaN,NaN,P000,NaN,NaN,11022017.0,NaN,NaN,NaN,20170010.0,S,23032017.0,P000,14032017.0,1.0,S,S,3.2.00,3.2,2.0,30062017.0,P285/P220/P000,16032017,NaN,12.0,NaN,0.0,1,139,NaN,NaN,NaN,NaN,NaN,SXSSXX,NaN,NaN,NaN,30052017.0,3.0,23032017.0,NaN,2.0
2,3,1,2,11022017,500.0,812.0,120010.0,13071933.0,483,2,4.0,3.0,2.0,1.0,NaN,999993.0,120040,1,2001578.0,NaN,120040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,*A419,*N390,*I694,NaN,NaN,I694,NaN,NaN,11022017.0,NaN,NaN,NaN,20170005.0,N,NaN,I694,14032017.0,5.0,S,S,3.2.00,3.2,NaN,16032017.0,A419/N390/I694,16032017,NaN,NaN,10.0,0.0,1,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,2,11022017,830.0,812.0,120040.0,6022002.0,415,1,4.0,1.0,9.0,9.0,NaN,NaN,120040,3,NaN,NaN,120040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*G80X,NaN,NaN,NaN,NaN,G809,NaN,NaN,11022017.0,NaN,NaN,NaN,20170018.0,S,1062017.0,R99,14032017.0,5.0,S,S,3.2.00,3.2,2.0,16102017.0,G80,16032017,NaN,NaN,9.0,0.0,1,247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,2,11022017,320.0,812.0,120070.0,2061966.0,450,2,4.0,1.0,1.0,0.0,NaN,622020.0,120070,1,2001578.0,NaN,120040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,*I64X,*I10X,*E119,*D649,NaN,E119,NaN,NaN,11022017.0,NaN,NaN,NaN,20170005.0,N,NaN,E119,14032017.0,5.0,S,S,3.2.00,3.2,NaN,16032017.0,I64/I10/E119/D649,16032017,NaN,NaN,0.0,0.0,1,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
Mortalidade_2017.shape

(1312663, 87)

In [57]:
Mortalidade_2016.head()

,CONTADOR,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,SERIESCFAL,OCUP,CODMUNRES,LOCOCOR,CODESTAB,ESTABDESCR,CODMUNOCOR,IDADEMAE,ESCMAE,ESCMAE2010,SERIESCMAE,OCUPMAE,QTDFILVIVO,QTDFILMORT,GRAVIDEZ,SEMAGESTAC,GESTACAO,PARTO,OBITOPARTO,PESO,TPMORTEOCO,OBITOGRAV,OBITOPUERP,ASSISTMED,EXAME,CIRURGIA,NECROPSIA,LINHAA,LINHAB,LINHAC,LINHAD,LINHAII,CAUSABAS,CB_PRE,COMUNSVOIM,DTATESTADO,CIRCOBITO,ACIDTRAB,FONTE,NUMEROLOTE,TPPOS,DTINVESTIG,CAUSABAS_O,DTCADASTRO,ATESTANTE,STCODIFICA,CODIFICADO,VERSAOSIST,VERSAOSCB,FONTEINV,DTRECEBIM,ATESTADO,DTRECORIGA,CAUSAMAT,ESCMAEAGR1,ESCFALAGR1,STDOEPIDEM,STDONOVA,DIFDATA,NUDIASOBCO,NUDIASOBIN,DTCADINV,TPOBITOCOR,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
0,1,1,2,1012016,NaN,812.0,120033.0,4111988.0,427,1,4.0,2.0,NaN,NaN,NaN,NaN,120020,5,NaN,NaN,120020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*R58X,*T07X,*V239,NaN,NaN,V239,NaN,120020.0,1012016.0,1.0,NaN,NaN,20160001.0,NaN,NaN,V239,11012016.0,3.0,S,S,3.2.00,3.2,NaN,12012016.0,R58/T07/V239,12012016,NaN,NaN,NaN,0.0,1,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2,1012016,NaN,812.0,120030.0,24112002.0,413,2,1.0,1.0,3.0,2.0,NaN,999991.0,120030,3,NaN,NaN,120030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*A419,*A09X,NaN,NaN,NaN,A09,NaN,NaN,1012016.0,NaN,NaN,NaN,20170015.0,S,26092017.0,R99,12012016.0,5.0,S,S,3.2.00,3.2,3.0,29092017.0,A419/A09,29012016,NaN,NaN,11.0,0.0,1,637,58.0,NaN,2032016.0,9.0,28022016.0,NaN,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,2,1012016,NaN,812.0,120030.0,4101985.0,430,1,4.0,2.0,2.0,1.0,NaN,715535.0,120030,4,NaN,NaN,120030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*R571,*X994,NaN,NaN,NaN,X994,NaN,NaN,1012016.0,3.0,NaN,NaN,20160001.0,NaN,NaN,X994,12012016.0,5.0,S,S,3.2.00,3.2,NaN,29012016.0,R571/X994,29012016,NaN,NaN,10.0,0.0,1,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,2,1012016,2100.0,NaN,NaN,23111959.0,456,1,4.0,NaN,NaN,NaN,NaN,NaN,120040,1,2001578.0,NaN,120040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,*R092,*I500,*J984,*K729,*N179,K729,NaN,NaN,1012016.0,NaN,NaN,NaN,20160002.0,N,NaN,K729,1022016.0,NaN,S,S,3.2.00,3.2,NaN,29022016.0,R092/I500/J984/K729*N179,29022016,NaN,NaN,NaN,0.0,1,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,2,1012016,2050.0,812.0,120040.0,15122014.0,401,2,NaN,NaN,NaN,NaN,NaN,NaN,120045,1,2000733.0,NaN,120040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*T751,*J690,*W749,NaN,NaN,W749,NaN,120040.0,1012016.0,1.0,NaN,NaN,20160004.0,N,NaN,W749,1022016.0,3.0,S,S,3.2.00,3.2,NaN,31032016.0,T751/J690/W749,29022016,NaN,NaN,NaN,0.0,1,90,NaN,NaN,NaN,NaN,NaN,XXSSXX,NaN,NaN,NaN,28042016.0,3.0,NaN,NaN,2.0

In [58]:
Mortalidade_2016.shape

(1309774, 87)

# Fazendo Verificao e Limpeza da Tabela

In [59]:
Mortalidade_2019 = Mortalidade_2019.loc[:,['DTOBITO', 'CODMUNOCOR', 'DTNASC', 'IDADE', 'SEXO', 'RACACOR', 'CAUSABAS']]
Mortalidade_2018 = Mortalidade_2018.loc[:,['DTOBITO', 'CODMUNOCOR', 'DTNASC', 'IDADE', 'SEXO', 'RACACOR', 'CAUSABAS']]
Mortalidade_2017 = Mortalidade_2017.loc[:,['DTOBITO', 'CODMUNOCOR', 'DTNASC', 'IDADE', 'SEXO', 'RACACOR', 'CAUSABAS']]
Mortalidade_2016 = Mortalidade_2016.loc[:,['DTOBITO', 'CODMUNOCOR', 'DTNASC', 'IDADE', 'SEXO', 'RACACOR', 'CAUSABAS']]

Vendo os gneros que mais sofreram com as mortes e transformando

In [60]:
Mortalidade_2019['SEXO'].value_counts()

1    745519
2    603725
0       557
Name: SEXO, dtype: int64

In [61]:
#Ao verificar que o Sexo que est igual a 1 possui maior valor, pode-se confirmar que so os homens, pois ao pesquisar sobre a mortalidade de gneros, os homens so os que mais sofrem mortes

In [62]:
Mortalidade_2019['SEXO'] = Mortalidade_2019['SEXO'].astype(str)
Mortalidade_2018['SEXO'] = Mortalidade_2019['SEXO'].astype(str)
Mortalidade_2017['SEXO'] = Mortalidade_2019['SEXO'].astype(str)
Mortalidade_2016['SEXO'] = Mortalidade_2019['SEXO'].astype(str)

def limpeza_sexo(linha):
    x = linha['SEXO']

    if x == '1':
        return 'M'
    
    elif x == '2':
        return 'F'

    else:
        return 'I'    

Mortalidade_2019['SEXO'] = Mortalidade_2019.apply(limpeza_sexo, axis = 1)
Mortalidade_2018['SEXO'] = Mortalidade_2018.apply(limpeza_sexo, axis = 1)
Mortalidade_2017['SEXO'] = Mortalidade_2017.apply(limpeza_sexo, axis = 1)
Mortalidade_2016['SEXO'] = Mortalidade_2016.apply(limpeza_sexo, axis = 1)

Corrigindo a coluna de idade

In [63]:
Mortalidade_2019['IDADE'] = Mortalidade_2019['IDADE'].astype(str)
Mortalidade_2018['IDADE'] = Mortalidade_2019['IDADE'].astype(str)
Mortalidade_2017['IDADE'] = Mortalidade_2019['IDADE'].astype(str)
Mortalidade_2016['IDADE'] = Mortalidade_2019['IDADE'].astype(str)

def limpeza_idade(linha):
    x = linha['IDADE']
    if linha['DTOBITO']  == linha['DTNASC'] or linha['DTOBITO'] == linha['DTNASC']+1:
        return 0

    elif x.startswith('1') and (len(x) == 3 or len(x) == 2):
        return 0
    
    elif x.startswith('2') and (len(x) == 3 or len(x) == 2):
        return 0
    
    elif x.startswith('3') and (len(x) == 3 or len(x) == 2):
        return 0
    
    elif x.startswith('4') and (len(x) == 3 or len(x) == 2):
        x_new_4 = float(x[1:])
        return x_new_4
    
    elif x.startswith('5') and len(x) == 3:
        x_new_5 = int(x[1:])
        x_new_5 = x_new_5 + 100
        x_new_5 = float(x_new_5)
        return x_new_5
    
    elif x.startswith('9'):
        return 0 

Mortalidade_2019['IDADE'] = Mortalidade_2019.apply(limpeza_idade, axis = 1)
Mortalidade_2018['IDADE'] = Mortalidade_2018.apply(limpeza_idade, axis = 1)
Mortalidade_2017['IDADE'] = Mortalidade_2017.apply(limpeza_idade, axis = 1)
Mortalidade_2016['IDADE'] = Mortalidade_2016.apply(limpeza_idade, axis = 1)

Mudando o formato das datas da coluna de bito e nascimento

In [64]:
Mortalidade_2019['DTOBITO'] = Mortalidade_2019['DTOBITO'].astype(str).str.zfill(8)                          # deixa todas as linhas com 8 nmeros, alem de transformar em str
Mortalidade_2019['DTOBITO'] = Mortalidade_2019['DTOBITO'].apply(lambda x: f'{x[0:2]}/{x[2:4]}/{x[4:]}')     # aplica '/' em todas as datas
Mortalidade_2019['DTOBITO'] = pd.to_datetime(Mortalidade_2019['DTOBITO'])                                   # transforma em datetime

Mortalidade_2019['DTNASC'] = Mortalidade_2019['DTNASC'].fillna(0)                                           #transforma nulo em zeros
Mortalidade_2019['DTNASC'] = pd.to_datetime(Mortalidade_2019['DTNASC']).dt.date                             #transforma em data
Mortalidade_2019['DTNASC'] = pd.to_datetime(Mortalidade_2019['DTNASC'])

In [65]:
Mortalidade_2018['DTOBITO'] = Mortalidade_2018['DTOBITO'].astype(str).str.zfill(8)                          
Mortalidade_2018['DTOBITO'] = Mortalidade_2018['DTOBITO'].apply(lambda x: f'{x[0:2]}/{x[2:4]}/{x[4:]}')     
Mortalidade_2018['DTOBITO'] = pd.to_datetime(Mortalidade_2018['DTOBITO'])                                   

Mortalidade_2018['DTNASC'] = Mortalidade_2018['DTNASC'].fillna(0)                                           
Mortalidade_2018['DTNASC'] = pd.to_datetime(Mortalidade_2018['DTNASC']).dt.date                             
Mortalidade_2018['DTNASC'] = pd.to_datetime(Mortalidade_2018['DTNASC'])

In [66]:
Mortalidade_2017['DTOBITO'] = Mortalidade_2017['DTOBITO'].astype(str).str.zfill(8)                          
Mortalidade_2017['DTOBITO'] = Mortalidade_2017['DTOBITO'].apply(lambda x: f'{x[0:2]}/{x[2:4]}/{x[4:]}')     
Mortalidade_2017['DTOBITO'] = pd.to_datetime(Mortalidade_2017['DTOBITO'])                                   

Mortalidade_2017['DTNASC'] = Mortalidade_2017['DTNASC'].fillna(0)                                           
Mortalidade_2017['DTNASC'] = pd.to_datetime(Mortalidade_2017['DTNASC']).dt.date                             
Mortalidade_2017['DTNASC'] = pd.to_datetime(Mortalidade_2017['DTNASC'])

In [67]:
Mortalidade_2016['DTOBITO'] = Mortalidade_2016['DTOBITO'].astype(str).str.zfill(8)                          
Mortalidade_2016['DTOBITO'] = Mortalidade_2016['DTOBITO'].apply(lambda x: f'{x[0:2]}/{x[2:4]}/{x[4:]}')     
Mortalidade_2016['DTOBITO'] = pd.to_datetime(Mortalidade_2016['DTOBITO'])                                   

Mortalidade_2016['DTNASC'] = Mortalidade_2016['DTNASC'].fillna(0)                                           
Mortalidade_2016['DTNASC'] = pd.to_datetime(Mortalidade_2016['DTNASC']).dt.date                             
Mortalidade_2016['DTNASC'] = pd.to_datetime(Mortalidade_2016['DTNASC'])

Arrumando a coluna de Causas e classificando cada uma das siglas

In [68]:
Mortalidade_2019['CAUSABAS'] = Mortalidade_2019['CAUSABAS'].apply(lambda x: f'{x[0:3]}')
Mortalidade_2018['CAUSABAS'] = Mortalidade_2018['CAUSABAS'].apply(lambda x: f'{x[0:3]}')
Mortalidade_2017['CAUSABAS'] = Mortalidade_2017['CAUSABAS'].apply(lambda x: f'{x[0:3]}')
Mortalidade_2016['CAUSABAS'] = Mortalidade_2016['CAUSABAS'].apply(lambda x: f'{x[0:3]}')

In [69]:
Mortalidade_2019['Classificao_de_causas'] = Mortalidade_2019['CAUSABAS']
Mortalidade_2018['Classificao_de_causas'] = Mortalidade_2018['CAUSABAS']
Mortalidade_2017['Classificao_de_causas'] = Mortalidade_2017['CAUSABAS']
Mortalidade_2016['Classificao_de_causas'] = Mortalidade_2016['CAUSABAS']

Classificao de causas (coluna CAUSABAS)

    - A00 ~ E99 --> doenas

    - F00       --> Transtornos Mentais

    - G00 ~ N99 --> doenas

    - O00 ~ Q99 --> problemas na gesto/Parto e malformaes

    - R00       --> doenas

    - S00 ~ T98 --> Consequncias de causas externas (leses/ traumatismos)

    - U00 ~ Y98 --> Causas externas de morbidade e de mortalidade (acidente/agressao/intoxicao/falta de comida/falta de agua/queda/tiro)

    - Z00 ~     --> doenas

In [70]:
Mortalidade_2019['Classificao_de_causas'] = Mortalidade_2019['Classificao_de_causas'].str.replace('[A-E].*', 'Doena')
Mortalidade_2019['Classificao_de_causas'] = Mortalidade_2019['Classificao_de_causas'].str.replace('F.*', 'Transtornos Mentais')
Mortalidade_2019['Classificao_de_causas'] = Mortalidade_2019['Classificao_de_causas'].str.replace('[G-N].*', 'Doena')
Mortalidade_2019['Classificao_de_causas'] = Mortalidade_2019['Classificao_de_causas'].str.replace('[O-Q].*', 'problemas na gesto/Parto e malformaes')
Mortalidade_2019['Classificao_de_causas'] = Mortalidade_2019['Classificao_de_causas'].str.replace('R.*', 'Doena')
Mortalidade_2019['Classificao_de_causas'] = Mortalidade_2019['Classificao_de_causas'].str.replace('[S-T].*', 'Consequncias de causas externas (leses/ traumatismos)')
Mortalidade_2019['Classificao_de_causas'] = Mortalidade_2019['Classificao_de_causas'].str.replace('[U-Y].*', 'Causas externas de morbidade e de mortalidade (acidente/agressao)')
Mortalidade_2019['Classificao_de_causas'] = Mortalidade_2019['Classificao_de_causas'].str.replace('Z.*', 'Doena')

In [71]:
Mortalidade_2018['Classificao_de_causas'] = Mortalidade_2018['Classificao_de_causas'].str.replace('[A-E].*', 'Doena')
Mortalidade_2018['Classificao_de_causas'] = Mortalidade_2018['Classificao_de_causas'].str.replace('F.*', 'Transtornos Mentais')
Mortalidade_2018['Classificao_de_causas'] = Mortalidade_2018['Classificao_de_causas'].str.replace('[G-N].*', 'Doena')
Mortalidade_2018['Classificao_de_causas'] = Mortalidade_2018['Classificao_de_causas'].str.replace('[O-Q].*', 'problemas na gesto/Parto e malformaes')
Mortalidade_2018['Classificao_de_causas'] = Mortalidade_2018['Classificao_de_causas'].str.replace('R.*', 'Doena')
Mortalidade_2018['Classificao_de_causas'] = Mortalidade_2018['Classificao_de_causas'].str.replace('[S-T].*', 'Consequncias de causas externas (leses/ traumatismos)')
Mortalidade_2018['Classificao_de_causas'] = Mortalidade_2018['Classificao_de_causas'].str.replace('[U-Y].*', 'Causas externas de morbidade e de mortalidade (acidente/agressao)')
Mortalidade_2018['Classificao_de_causas'] = Mortalidade_2018['Classificao_de_causas'].str.replace('Z.*', 'Doena')

In [72]:
Mortalidade_2017['Classificao_de_causas'] = Mortalidade_2017['Classificao_de_causas'].str.replace('[A-E].*', 'Doena')
Mortalidade_2017['Classificao_de_causas'] = Mortalidade_2017['Classificao_de_causas'].str.replace('F.*', 'Transtornos Mentais')
Mortalidade_2017['Classificao_de_causas'] = Mortalidade_2017['Classificao_de_causas'].str.replace('[G-N].*', 'Doena')
Mortalidade_2017['Classificao_de_causas'] = Mortalidade_2017['Classificao_de_causas'].str.replace('[O-Q].*', 'problemas na gesto/Parto e malformaes')
Mortalidade_2017['Classificao_de_causas'] = Mortalidade_2017['Classificao_de_causas'].str.replace('R.*', 'Doena')
Mortalidade_2017['Classificao_de_causas'] = Mortalidade_2017['Classificao_de_causas'].str.replace('[S-T].*', 'Consequncias de causas externas (leses/ traumatismos)')
Mortalidade_2017['Classificao_de_causas'] = Mortalidade_2017['Classificao_de_causas'].str.replace('[U-Y].*', 'Causas externas de morbidade e de mortalidade (acidente/agressao)')
Mortalidade_2017['Classificao_de_causas'] = Mortalidade_2017['Classificao_de_causas'].str.replace('Z.*', 'Doena')

In [73]:
Mortalidade_2016['Classificao_de_causas'] = Mortalidade_2016['Classificao_de_causas'].str.replace('[A-E].*', 'Doena')
Mortalidade_2016['Classificao_de_causas'] = Mortalidade_2016['Classificao_de_causas'].str.replace('F.*', 'Transtornos Mentais')
Mortalidade_2016['Classificao_de_causas'] = Mortalidade_2016['Classificao_de_causas'].str.replace('[G-N].*', 'Doena')
Mortalidade_2016['Classificao_de_causas'] = Mortalidade_2016['Classificao_de_causas'].str.replace('[O-Q].*', 'problemas na gesto/Parto e malformaes')
Mortalidade_2016['Classificao_de_causas'] = Mortalidade_2016['Classificao_de_causas'].str.replace('R.*', 'Doena')
Mortalidade_2016['Classificao_de_causas'] = Mortalidade_2016['Classificao_de_causas'].str.replace('[S-T].*', 'Consequncias de causas externas (leses/ traumatismos)')
Mortalidade_2016['Classificao_de_causas'] = Mortalidade_2016['Classificao_de_causas'].str.replace('[U-Y].*', 'Causas externas de morbidade e de mortalidade (acidente/agressao)')
Mortalidade_2016['Classificao_de_causas'] = Mortalidade_2016['Classificao_de_causas'].str.replace('Z.*', 'Doena')

# Lendo Arquivo de Municpios para juntar com a tabela de mortalidade

In [74]:
Municpio_estabelecimento = pd.read_csv(r'C:\Projeto Final\data\cadastro_estabelecimentos_cnes.csv', sep = ';')

In [75]:
Municpio_estabelecimento = Municpio_estabelecimento.loc[:,['UF', 'IBGE']]

In [76]:
Municpio_estabelecimento = Municpio_estabelecimento.drop_duplicates()

juntando as tabelas

In [77]:
Mortalidade_Municpios_2019 = pd.merge(Mortalidade_2019, Municpio_estabelecimento, left_on = 'CODMUNOCOR', right_on ='IBGE')
Mortalidade_Municpios_2018 = pd.merge(Mortalidade_2018, Municpio_estabelecimento, left_on = 'CODMUNOCOR', right_on ='IBGE')
Mortalidade_Municpios_2017 = pd.merge(Mortalidade_2017, Municpio_estabelecimento, left_on = 'CODMUNOCOR', right_on ='IBGE')
Mortalidade_Municpios_2016 = pd.merge(Mortalidade_2016, Municpio_estabelecimento, left_on = 'CODMUNOCOR', right_on ='IBGE')

# Lendo Arquivo de Estados para juntar na tabela

In [78]:
COD_UF = pd.read_excel(r'C:\Projeto Final\data\Tabela Estados IBGE.xlsx')

# Finalizao da tabela limpa e verificada

In [79]:
Mortalidade_Estado_2019 = pd.merge(Mortalidade_Municpios_2019, COD_UF, left_on = 'UF', right_on ='Cdigo da UF')
Mortalidade_Estado_2018 = pd.merge(Mortalidade_Municpios_2018, COD_UF, left_on = 'UF', right_on ='Cdigo da UF')
Mortalidade_Estado_2017 = pd.merge(Mortalidade_Municpios_2017, COD_UF, left_on = 'UF', right_on ='Cdigo da UF')
Mortalidade_Estado_2016 = pd.merge(Mortalidade_Municpios_2016, COD_UF, left_on = 'UF', right_on ='Cdigo da UF')

In [80]:
Mortalidade_Estado_2019 = Mortalidade_Estado_2019.loc[:, ['DTOBITO', 'CODMUNOCOR', 'DTNASC', 'IDADE', 'SEXO', 'RACACOR', 'CAUSABAS', 'Classificao_de_causas', 'Cdigo da UF', 'Estado']]
Mortalidade_Estado_2018 = Mortalidade_Estado_2018.loc[:, ['DTOBITO', 'CODMUNOCOR', 'DTNASC', 'IDADE', 'SEXO', 'RACACOR', 'CAUSABAS', 'Classificao_de_causas', 'Cdigo da UF', 'Estado']]
Mortalidade_Estado_2017 = Mortalidade_Estado_2017.loc[:, ['DTOBITO', 'CODMUNOCOR', 'DTNASC', 'IDADE', 'SEXO', 'RACACOR', 'CAUSABAS', 'Classificao_de_causas', 'Cdigo da UF', 'Estado']]
Mortalidade_Estado_2016 = Mortalidade_Estado_2016.loc[:, ['DTOBITO', 'CODMUNOCOR', 'DTNASC', 'IDADE', 'SEXO', 'RACACOR', 'CAUSABAS', 'Classificao_de_causas', 'Cdigo da UF', 'Estado']]

In [81]:
Mortalidade_Estado_2019.to_csv(r'C:\Projeto Final\data_limpo\Mortalidade_Estado_2019.csv', sep = ';')
Mortalidade_Estado_2018.to_csv(r'C:\Projeto Final\data_limpo\Mortalidade_Estado_2018.csv', sep = ';')
Mortalidade_Estado_2017.to_csv(r'C:\Projeto Final\data_limpo\Mortalidade_Estado_2017.csv', sep = ';')
Mortalidade_Estado_2016.to_csv(r'C:\Projeto Final\data_limpo\Mortalidade_Estado_2016.csv', sep = ';')

In [82]:
Mortalidade_brasil = pd.concat([Mortalidade_Estado_2016, Mortalidade_Estado_2017, Mortalidade_Estado_2018, Mortalidade_Estado_2019])

In [83]:
Mortalidade_brasil.to_csv(r'C:\Projeto Final\data_limpo\Mortalidade_brasil.csv', sep = ';')

# Concatenando as tabelas pela contagem de mortes por ms

In [84]:
Mortalidade_2019.index = Mortalidade_2019['DTOBITO']
Mortalidade_2018.index = Mortalidade_2018['DTOBITO']
Mortalidade_2017.index = Mortalidade_2017['DTOBITO']
Mortalidade_2016.index = Mortalidade_2016['DTOBITO']

In [85]:
Mortalidade_group_2019 = Mortalidade_2019.groupby(pd.Grouper(freq='M'))['Classificao_de_causas'].count()
Mortalidade_group_2018 = Mortalidade_2018.groupby(pd.Grouper(freq='M'))['Classificao_de_causas'].count()
Mortalidade_group_2017 = Mortalidade_2017.groupby(pd.Grouper(freq='M'))['Classificao_de_causas'].count()
Mortalidade_group_2016 = Mortalidade_2016.groupby(pd.Grouper(freq='M'))['Classificao_de_causas'].count()

In [86]:
Mortalidade_concat = pd.concat([Mortalidade_group_2016, Mortalidade_group_2017, Mortalidade_group_2018, Mortalidade_group_2019])

In [87]:
Mortalidade_concat

DTOBITO
2016-01-31    108065
2016-02-29    103086
2016-03-31    112166
2016-04-30    109438
2016-05-31    112500
2016-06-30    115183
2016-07-31    114203
2016-08-31    111396
2016-09-30    104115
2016-10-31    109241
2016-11-30    102859
2016-12-31    107522
2017-01-31    106718
2017-02-28     99537
2017-03-31    110198
2017-04-30    106977
2017-05-31    113939
2017-06-30    111932
2017-07-31    117612
2017-08-31    112816
2017-09-30    107293
2017-10-31    111095
2017-11-30    104542
2017-12-31    110004
2018-01-31    109294
2018-02-28     97579
2018-03-31    110104
2018-04-30    108390
2018-05-31    114186
2018-06-30    112482
2018-07-31    116209
2018-08-31    113302
2018-09-30    107498
2018-10-31    109563
2018-11-30    105342
2018-12-31    112770
2019-01-31    112534
2019-02-28     99745
2019-03-31    112355
2019-04-30    111073
2019-05-31    117562
2019-06-30    115401
2019-07-31    120576
2019-08-31    116300
2019-09-30    110628
2019-10-31    112580
2019-11-30    107671
2019-12-31    113376
Freq: M, Name: Classificao_de_causas, dtype: int64

# Analisando os Dados para fazer a previso

In [88]:
from pycaret.time_series import *
s = setup(Mortalidade_concat, fh = 3, fold = 1, session_id = 123)

In [89]:
best = compare_models()

In [90]:
print(best)

AutoARIMA(D=None, alpha=0.05, d=None, error_action='warn',
          information_criterion='aic', max_D=1, max_P=2, max_Q=2, max_d=2,
          max_order=5, max_p=5, max_q=5, maxiter=50, method='lbfgs', n_fits=10,
          n_jobs=1, offset_test_args=None, out_of_sample_size=0, random=False,
          random_state=123, scoring='mse', scoring_args=None, seasonal=True,
          seasonal_test='ocsb', seasonal_test_args=None, sp=12, start_P=1,
          start_Q=1, start_p=2, start_params=None, ...)

In [91]:
final_best = finalize_model(best)
predict_model(best, fh = 15, round=0)

2019-10    112627.0
2019-11    108465.0
2019-12    115840.0
2020-01    115651.0
2020-02    102820.0
2020-03    115468.0
2020-04    114152.0
2020-05    120671.0
2020-06    118483.0
2020-07    123682.0
2020-08    119385.0
2020-09    113732.0
2020-10    115713.0
2020-11    111567.0
2020-12    118928.0
Freq: M, Name: Classificao_de_causas, dtype: float64

In [92]:
#save_model(final_best, 'my_final_best_model')